/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}

/* start editing from here */

img{max-width:100%;}
/*end reset*/

body{
	background:url("../img/58fae92d792cb.jpg") no-repeat;
}

legend {
    text-align: center;
	font-size: 3em;
    color: 	#000000;
    margin: 37px 0;
    font-family: 'Tangerine', cursive;
    letter-spacing: 2px;
    float: center;
    width: 100%;
	font-weight: bold;
	text-shadow: 1px 1px 11px rgba(12, 12, 12, 0.75);
}

/*-- wrapper(布局结构) --*/
.clearfix:after { clear: both; content: ' '; display: table; }
.wrapper { max-width: 1200px; min-width: 940px; margin: 0 auto; padding: 0 30px 30px; }
.wrapper .left,
.wrapper .right{ width: 48%; }
.wrapper .left{ float: left; }
.wrapper .right{ float: right; }
#idframe1{
	width: 100%;
	height:450px;
	overflow-x:hidden; 
	overflow-y:auto;
}

#idframe2{
	width: 100%;
	height:450px; 
	overflow-x:hidden; 
	overflow-y:auto;
}

/*-- form --*/
.zc {
	border:3px solid #007979;
	background-color: #3C3C3C;
    width: 100%;
    max-width: 700px;
    min-width: 430px;
    margin: 0 auto;
	padding: 3em 2em;
    box-sizing: border-box;
}
input,select{
	margin-bottom: 17px;
    padding: 10px;
    color: #5d5c5c;
    font-size: .9em;
    outline: none;
    border: none;
    background: #fff;
    width: 60%;
    font-family: 'Hind Siliguri', sans-serif;
    letter-spacing: 1px;
    border: 3px double #03A9F4;
    border-radius: 4px;
}

select{
	margin:1.5em 0 0;
}

button:hover{
	color: #FF0000;
	background:#DC143C;
	}

button,#cancelA {
    color: #fff;
	font-size: 1em;
	width:25%;
	border: none;
	background: #03A9F4;
	padding: 10px 0;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 1.5em 0 0;
    text-align: center;
	margin-left:60px;
}

#cancelA {
	background:#778899
}

[type='button'] {
    color: #fff;
	width:20%;
    border: 1px solid #000;
	margin:37px 17px;
	float:left;
	background:#008080;
	text-align: center;
	margin-left:20px;
}

[type='button']:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#linkto,#wait{
    color: #fff;
	margin:37px 17px;
	margin-left:60px;
}

a{
	color: #40E0D0;
	margin:37px 17px;
}

label{
	color: #F8F8FF;
	padding: 10px 15px;
}

#fruit{
	padding: 10px 10px;
}

#fruit label{
	width:6%;
	padding: 10px 10px;
}

input[type='radio']{
	width:4%;
	padding: 8px 8px;
	float:center;
}

input[type='checkbox']{
	width:9%;
	padding: 10px 15px;
	float:center;
}

input[type='file']{
    background: #d0d0d0;
    width: 40%;
	margin-left:75px;
	padding: 10px 20px;
}

#scrollup{
	background: #777;
	color:#eee;
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	bottom:65px;
	right:20px;
	overflow: hidden;
	width:46px;
	height:46px;
	border:none;
	opacity:.8;
	}



/*--//responsive--*/